/* --- Basis --- */
body {
    margin: 0;
    padding: 0;

    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: MS Sans Serif;
}

/* Hintergrund & Logo */
.Hinter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.fish {
    position: absolute;
    top: 15%;
    width: 190px;
    height: 190px;
    transform: translateY(-50%);
    animation: fish-slide 10s linear infinite;
    z-index: 10;
}

@keyframes fish-slide {
    0% {
        right: -300px;
    }

    100% {
        right: 100vw;
    }
}

.floating-text {
    position: absolute;
    top: 2%;
    left: -300px;
    font-size: 70px;
    color: #0000ff;
    animation: text-float 10s linear infinite;
    z-index: 5;
}

p {
    font-size: 40px;
    color: #ff1493;
    z-index: 100;
}

@keyframes text-float {
    0% {
        left: -300px;
    }

    100% {
        left: 100vw;
    }
}


.CD {
    position: absolute;
    top: 78%;
    left: 3.5%;
    width: 130px;
    z-index: 1;
}

/* sticker */
.bär {
    position: absolute;
    top: 70%;
    left: 72%;
    width: 200px;
    height: auto;
    z-index: 1;
}


.sticker2 {
    position: absolute;
    top: 12%;
    left: 5%;
    width: 180px;
    height: auto;
    z-index: 1;
}

.sticker3 {
    position: absolute;
    top: 63%;
    left: 88%;
    width: 100px;
    height: auto;
    z-index: 1;
}

.sticker5 {
    position: absolute;
    top: 47%;
    left: 83%;
    width: 90px;
    height: auto;
    z-index: 2;
}

.sticker6 {
    position: absolute;
    top: 34%;
    left: 90%;
    width: 100px;
    height: auto;
    z-index: 1;
}

/* Zurück-Button */
.zurück-button {
    position: absolute;
    bottom: 5%;
    right: 5%;
    text-decoration: underline;
    font-size: 16px;
    font-family: MS Sans Serif;
    background: #c0c0c0;
    border: 2px solid #808080;
    padding: 15px 20px;
    box-shadow: 2px2px4px #32323282;
    z-index: 10;
    cursor: pointer;
}

.zurück-button:hover {
    color: blue;
    background: #d0d0d0;
    text-decoration: none;
}

/* Hauptcontainer Tabs */
.main-container {
    position: absolute;
    bottom: 13%;
    right: 30%;
    width: 800px;
    height: 500px;
    display: grid;
    grid-template-columns: 150px 1fr;
    background: #c0c0c0;
    border: 2px solid #808080;
    box-shadow: 4px4px4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    z-index: 40;
}

.sidebar {

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    background: #e0e0e0;
    border-right: 2px solid #808080;
}

.tab {
    font-family: MS Sans Serif;
    padding: 10px;
    background: #c0c0c0;
    border: 2px solid #808080;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
}

.tab.active {
    background: #fff;
    font-weight: bold;
}

.tab:hover {
    background: #d0d0d0;
    color: blue;
}

/* Tab Inhalte */
.tab-content {

    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
}

.tab-content.active {
    display: flex;
}



#menü-container,
.store-content {
    background: white;
    border: 10px solid #808080;
    position: relative;
    top: 10%;
    right: -5%;
    padding: 20px;
    height: 345px;
    width: 83%;
    overflow-y: auto;

}

/* Scrollbars */
#menü-container::-webkit-scrollbar,
.store-content::-webkit-scrollbar {
    width: 12px;
    background: #d3d3d3;
    border: 1px solid #808080;
}

#menü-container::-webkit-scrollbar-thumb,
.store-content::-webkit-scrollbar-thumb {
    background: #4f4f4f;
    border: 2px solid #808080;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}

/* Überschriften */

#menü h3,
.store-content h3 {
    text-align: center;
    color: #0000ff;
    font-weight: bold;
    font-size: 16px;
}

#menü h4 {
    color: #0000ff;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
}

#menü ul {
    padding-left: 15px;
}

#menü ul li {
    list-style: none;
    font-size: 14px;
    margin-bottom: 5px;
}

/* Grid Layout für Advent & Pupstore */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 34.6%);
    gap: 50px;
    margin: 20px;
}

.advent-door {
    background: #c0c0c0;
    border: 3px solid #808080;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.advent-door.locked {
    background: #808080;
    color: #444;
    cursor: not-allowed;
}

.advent-door:hover:not(.locked) {
    background: #ade907;
    color: blue;
    font-weight: bold;
}

/* Fenster für Türchen (drag & drop) */
.window-tab {

    position: absolute;
    top: 25%;
    left: 65%;
    height: 50%;
    width: 400px;
    background: #f0f0f0;
    border: 2px solid #888;
    border-radius: 6px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    z-index: 2000;
    cursor: move;
}


.window-content {
    padding: 20px;
    font-size: 50px;
    /* Schriftgröße erhöhen */
    font-family: Ezosch-Regular;
    /* Fallback ergänzen */
    color: #000000;
    line-height: 1.4;
    overflow-y: auto;
    /* Scrollbar falls Text länger ist */
    max-height: 350px;
    /* Begrenzung innerhalb des Fensters */
}

p {
    font-size: 40px;
    color: #ff1493;
    z-index: 1;
}

.window-header {
    background: #005bbb;
    color: white;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px 4px 0 0;
    font-weight: bold;
}

.close-btn {
    cursor: pointer;
    font-weight: bold;
    background: #928e8e;
    width: 22px;
    height: 22px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Passwort Popup */
#popup-window {
    position: absolute;
    top: 43%;
    left: 37%;
    width: 350px;
    background: #dcdcdc;
    border: 2px solid #808080;
    box-shadow: 4px4px0 #404040;
    display: none;
    z-index: 9999;

}

.popup-titlebar {
    background: #000080;
    color: white;
    padding: 5px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#popup-close {
    width: 24px;
    height: 24px;
    border: 2px solid #808080;
    background: #c0c0c0;
    cursor: pointer;
}

#popup-close:hover {
    background: #fff;
}

#popup-content {
    padding: 10px;
    background: #fff;
    border-top: 2px solid #808080;
}

#locked-window {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 320px;
    background: #dcdcdc;
    border: 2px solid #808080;
    box-shadow: 4px 4px 0 #404040;
    display: none;
    z-index: 9999;
}

#locked-content {
    padding: 10px;
    background: #fff;
    border-top: 2px solid #808080;
    font-family: MS Sans Serif;
    font-size: 14px;
}